<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS DO BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- CSS PESSOAL -->
    <link rel="stylesheet" type="text/css" href="css/cssPlataforma.css">

	<title>GESTÃO DE CONSUMO</title>
</head>
<body>
	
	<!-- navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="row" style="justify-content: left; width: 100%;">
			
	    <img src="img/logo.png">
	    <a class="navbar-brand" href="#">GESTÃO DE CONSUMO</a>
	    <div class="row" style="width: 40%; justify-content: right; padding: 0">
	    	<a href="logar.html" class="btn btn-danger navbar-brand">sair</a>
	    </div>
		</div>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	    </button>
	</nav>

	<!-- sidebar -->
	<div class="sidebar">
		<a href="relatorios.html">	
	        <div  class="card-lateral">
	            <img src="img/dados-projeto.png">
	                    <br>
	                    <br>
	                    <h3>Gerar Relatórios</h3>
	        </div>
		</a>
		<a href="dispositivos.html">	
	        <div style="background-color:rgb(23, 160, 284);"  class="card-lateral">
	            <img src="img/dispositivos.png">
	                    <br>
	                    <br>
	                    <h3>Gerenciar Dispositivos</h3>
	        </div>
		</a>
		<a href="usuarios.html">	
	        <div  class="card-lateral">
	            <img src="img/dados-usuario.png">
	                    <br>
	                    <br>
	                    <h3>Gerenciar Usuários</h3>
	        </div>
		</a>
    </div>

    <div class="conteudo">
    	<h2 style="text-align: center; padding: 10px" class="sub-titulo">Escolha o dispositivo</h1>
    	<hr>
    	<div class="row" style="text-align: left; justify-content: start;">
    		<div class="col-md-4">
    			<a href="{% url 'dados_paciente' paciente.id %}" class="link-hover">
					<div class="card-paciente">
						<div class="foto-perfil">
						<!-- {% if paciente.sexo == "M"%}
						<img src="{% static 'plataforma/img/perfil2.png' %}">
						{% else %} -->
						<img style="width: 80px" src="img/dispositivo1.png">
						<!-- {% endif %} -->
						</div>
						<br>
						<p class="dados">Medidor do Jonas</p>
						<p class="dados">ID: xxxyyyzzz.123456</p>
						<p class="dados"></p>
					</div>
				</a>
    		</div>
    		<div class="col-md-4">
    			<a href="{% url 'dados_paciente' paciente.id %}" class="link-hover">
					<div class="card-paciente">
						<div class="foto-perfil">
						<!-- {% if paciente.sexo == "M"%}
						<img src="{% static 'plataforma/img/perfil2.png' %}">
						{% else %} -->
						<img style="width: 80px" src="img/dispositivo1.png">
						<!-- {% endif %} -->
						</div>
						<br>
						<p class="dados">Medidor de Teste</p>
						<p class="dados">ID: zzzxxxyyy.123456</p>
						<p class="dados"></p>
					</div>
				</a>
    		</div>
    		<div class="col-md-4">
    			<a href="{% url 'dados_paciente' paciente.id %}" class="link-hover">
					<div class="card-paciente">
						<div class="foto-perfil">
						<!-- {% if paciente.sexo == "M"%}
						<img src="{% static 'plataforma/img/perfil2.png' %}">
						{% else %} -->
						<img style="width: 80px" src="img/dispositivo1.png">
						<!-- {% endif %} -->
						</div>
						<br>
						<p class="dados">Medidor de Teste2</p>
						<p class="dados">ID: zzzxxxyyy.123456</p>
						<p class="dados"></p>
					</div>
				</a>
    		</div>
    		<div class="col-md-4">
    			<a href="{% url 'dados_paciente' paciente.id %}" class="link-hover">
					<div class="card-paciente">
						<div class="foto-perfil">
						<!-- {% if paciente.sexo == "M"%}
						<img src="{% static 'plataforma/img/perfil2.png' %}">
						{% else %} -->
						<img style="width: 80px" src="img/dispositivo1.png">
						<!-- {% endif %} -->
						</div>
						<br>
						<p class="dados">Medidor de Teste3</p>
						<p class="dados">ID: zzzxxxyyy.123456</p>
						<p class="dados"></p>
					</div>
				</a>
    		</div>
    	</div>
    </div>
      






    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" ></script>

</body>
</html>